{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-header">
    User Record
  </div>
  <div class="card-body">
    <h5 class="card-title">
      {{ user_record.first_name }}
      {{ user_record.last_name }}
    </h5></p>
    <p class="card-text">
  <strong>Email: </strong>{{ user_record.email }}<br/>
    <strong>Phone: </strong>  {{ user_record.phone }}<br/>
    <strong>Address: </strong>  {{ user_record.address }}<br/>
    <strong>City: </strong> {{ user_record.city }}<br/>
    <strong>State: </strong>  {{ user_record.state }}<br/>
    <strong>Zipcode: </strong>  {{ user_record.zipcode }}<br/>
    <strong>Created at: </strong> {{ user_record.created_at }}<br/>
    <strong>ID: </strong> {{ user_record.id}}
      
    </p>
  </div>
</div>

<br.><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'update_record' user_record.id %}" class="btn btn-secondary">Update record</a>

</p>
<a href="{% url 'delete_record' user_record.id %}" class="btn btn-danger">Delete</a>
{% endblock %}